*{
  margin: 0;
  padding: 0;
  font-size: 1rem;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: none;

}
textarea:focus, input:focus{
  outline: none;
}
.title{
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
label{ 
  margin-top: 1rem;
}

.btnSubmit{
  border-radius: 30px;
  margin-top: 1.2rem;
  cursor: pointer;
}
.ResultText{
  font-size: 1.2rem;
  margin-top: 1rem;
}

.bg{
  background-image: url("https://images6.alphacoders.com/301/301766.jpg");
  background-size: cover;
}
.DFbg{
  background: #eee;
}
.container{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 400px;
  height: 100vh;
  margin-left: 0;
  margin-right: auto;
  justify-content: center;
  padding: 20px 30px;
  text-align: center;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.15);

  
}

form{
  margin-top: 30px;
  margin-bottom: 40px;
}
.register{
text-align: end;
cursor: pointer;
}
label, input{
  display: block;
  width: 100%;
  text-align: left;
  color: black;
  font-size: .8rem;
  
}

input{
  border-bottom: 2px solid black;
  padding: 10px;
  font-size: 1rem;
}
input:focus{
  border-bottom: 2px solid #EF3960;
}
button{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  height: 40px;
  width: 50%;
  color: white;
  
  background-image: linear-gradient(to bottom right, #EF3960, rgb(196, 47, 79) );
}
button:hover{
  background-image: linear-gradient(to right, #F15D7B, rgb(239, 57, 96) );
  transition: .2s;
}
button:active{
      background-image: linear-gradient(to bottom right, #EF3960, rgb(196, 47, 79) );

  transition: .2s;
}
.FLHeader{
  background-image: linear-gradient(to bottom, #F15D7B, rgb(239, 57, 96) );
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 6px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); 
}
table{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  background:white;
  border-collapse:collapse;
  border:1px solid gray
}
h2{
  font-size: 32px;
  padding: 5px;
}
table tr td{
  border:none;
  padding: 0.6rem;
  text-align: center;
}
tr{
  cursor: pointer;
}
.even{
  background-color: white;
}
.odd{
  background-color: #eee;
}